body .container {
  width: 200px;
  height: 360px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
body .container .activity-model {
  width: 20px;
  height: 20px;
  background-color: deepskyblue;
  border: 0.3px solid #eeeeee;
  box-sizing: border-box;
  position: absolute;
}
body .container .fixed-model {
  width: 20px;
  height: 20px;
  background-color: #fefefe;
  border: 0.3px solid #333333;
  box-sizing: border-box;
  position: absolute;
}
